# Lets Chrome/Edge (WebHID) open MCHOSE mice and keyboards without root on Linux.
# Install: sudo cp udev/70-mchose.rules /etc/udev/rules.d/ && sudo udevadm control --reload && sudo udevadm trigger
# then unplug and replug the receiver or cable.
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="3837", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="5253", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="41e4", MODE="0660", TAG+="uaccess"
